body{
  margin: 0;
  padding: 0;
  color: #777;
  box-sizing: border-box;
  font-family: font-family: 'PT Sans Narrow', sans-serif;
}

*{
  font-size: 20px;
  line-height: 17px;
}

.nav-link:hover{
  background-color: #777;
  border-radius: 10px;
}

.fa-camera-retro{
  font-size: 40px;
}

.image-gallery{
  text-align: center;
  padding: 32px;
}

.hello{
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column{
  max-width: 25%;
  padding: 0 4px;
}

.imageone{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

div .imgone{
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

div .imgone:hover{
  box-shadow: 0px 5px 5px 5px;
  transition: .7s ease-out;
}

div .description{
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 800px){
  .column{
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px){
  .column{
    flex: 100%;
    max-width: 100%;
  }
}

.social-media{
  padding-top: 50px;
  padding-bottom: 30px;
}

.connect{
  font-size: 30px;
  padding-bottom: 20px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.fab{
  margin-right: 20px;
  background-color: #333;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
}

.fab:hover{
  transform: scale(1.2);
}

.blog-section{
  text-align: center;
  padding: 32px;
}

.imagethree{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.description-title{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Tenor Sans', sans-serif;
  color: green;
  text-transform: uppercase;
}

.description-titletwo{
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
